.todo {
    &__list {
        margin-bottom: 18px;
        &-item {
            transition: .2s ease;
            border-radius: 4px;
            &.is-active {
                background: #fff;
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
                cursor: default;
            }
            &:hover {
                background-color: rgba(255,255,255,.5);
            }
            &--gray {
                & > * {
                    color: #767676;
                }
                svg {
                    stroke: #767676;
                }
                &:hover {
                    & > * {
                        color: #000;
                    }
                    svg {
                        stroke: #000;
                    }   
                }
            }
            &:not(:last-child) {
                margin-bottom: 6px;
            }
            .badge {
                min-width: 10px;
                min-height: 10px;
                margin-left: 3px;
            }
        }
        &-btn {
            display: flex;
            align-items: center;
            padding: 10px 14px;
            width: 100%;
            cursor: pointer;
            &:hover {
                .todo__list-btn-remove {
                    opacity: 1;
                }
            }
            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    opacity: .6;
                    transition: .2s ease;
                }
            }
            &-text {
                margin-left: 10px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                transition: .2s ease;
                font-size: 12px;
                font-weight: 500;
            }
            &-remove {
                margin-left: auto;
                opacity: 0;
                transition: .2s ease;
                svg {
                    opacity: .4;
                    width: 8px;
                    height: 8px;
                    fill: black;
                    transition: .2s ease;
                }
                &:hover {
                    svg {
                        opacity: 1;
                    }
                }
            }
        }
    }
}