* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: none;
	text-size-adjust: none;
	list-style-type: none;
	text-decoration: none;
    line-height: normal;
    border: none;
    background: none;
    border-radius: 0;
    box-shadow: none;
    letter-spacing: unset;
    text-size-adjust: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
	text-decoration: none;
    font-family: -apple-system, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
}

html, body {
	height: 100%;
}

body {
    background: rgba(0,0,0,.1);
    padding: 15px;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo {
    max-width: 746px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 535px;
    border-radius: 5px;
    margin-bottom: 25px;
    &__sidebar {
        background-color: #F4F6F8;
        max-width: 240px;
        width: 100%;
        padding: 55px 20px;
    }
    &__tasks {
        width: 100%;
        background: #fff;
    }
}

// Input
.field {
    $self: &;
    width: 100%;
    &__value {
        width: 100%;
        display: flex;
        padding: 7px 11px;
        border: 1px solid #EFEFEF;
        border-radius: 4px;
        cursor: pointer;
        transition: .15s;
    }
    &__input {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 14px;
        &::placeholder {
            color: #C7C7C7;
        }
    }
    &__alert {
        font-size: 12px;
        margin-top: 4px;
        padding: 0 12px;
        color: red;
    }
    &:focus-within {
        #{$self}__value {
            border-color: #dbdbdb;
        }
    }
}

// Button
.btn {
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 16px;
    transition: .2s ease;
    &--primary {
        color: #fff;
        background-color: #4DD599;
        &:hover {
            background-color: #42B883;
        }
    }
    &--secondary {
        color: #9C9C9C;
        background-color: #F4F6F8;
        &:hover {
            background-color: #C9D1D3;
        }
    }
    &--wide {
        width: 100%;
    }
}

// Checkbox
.checkbox {
    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__content {
        display: flex;
    }
    &__value {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__input {
        border: 2px solid #E8E8E8;
        border-radius: 50%;
        min-width: 20px;
        min-height: 20px;
        max-width: 20px;
        max-height: 20px;
        margin-right: 15px;
    }
    &__text {
        color: #000;
        font-size: 14px;
    }
}